@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<p>Desenvolvido por: Pedro Xavier</p>

<p>Email: <a href="mailto:pedrodxavier@hotmail.com?Subject=ExemploIPagedList" target="_top">pedrodxavier@hotmail.com</a></p>
<p>GitHub: <a href="https://www.github.com/pedroinfo" target="_blank">https://www.github.com/pedroinfo</a></p>
<p>Linkedin: <a href="https://www.linkedin.com/in/xavierpedro" target="_blank">https://www.linkedin.com/in/xavierpedro</a></p>

